.section-admingroup{
  padding: 20px 40px;
}

.container {
  display: flex;
  background-color: #ffffff;
  margin: 0px;
  padding: 0 !important;
  flex-direction: column;
  min-height: 150px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 1px 1px 32px -9px rgba(115,115,115,0.35);
  -webkit-box-shadow: 1px 1px 32px -9px rgba(115,115,115,0.35);
  -moz-box-shadow: 1px 1px 32px -9px rgba(115,115,115,0.35);
}

.card {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px 20px;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  border-radius: 13px !important;
}
.card span{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card span i{
  color: #61a6ab;
}
.card i {
  color: #fcae11;
  font-size: 20px;
}
.header-title{
  background-color: #9380b7;
  color: #ffff;
  width: 100%;
  padding: 10px 0;
}
h4{
  text-align: center;
  font-size: 17px !important;
}
.title-libres{
  text-align: left;
}
.container-tarjetas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 0 30px !important;
}

.container-libres{
  background-color: transparent;
  border-radius: 15px;
  box-shadow: 1px 1px 32px -9px rgba(115,115,115,0.35);
  -webkit-box-shadow: 1px 1px 32px -9px rgba(115,115,115,0.35);
  -moz-box-shadow: 1px 1px 32px -9px rgba(115,115,115,0.35);
}

.group-tarj{
  padding: 20px 30px;
  height: 100%;
}